.content{
    width: 620px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
    background-color: black;
    border-radius: 25px;
}
#content__title{
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 100px;

}
.form-group{
    margin-bottom: 30px;
}
#elem{
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 45px;
}
#clearButton{
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 45px;
}
