.content{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
    background-color: black;
}
.form-group{
    margin-bottom: 30px;
}
.btn1{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    
}
.btn2{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
#btn__div{
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 50px;
    display: flex ; 
}