.content{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
    background-color: black;
}
.form-group{
    margin-bottom: 30px;
}
.btn1{

}
.btn2{
    
}