body,html{
    background-color: gray;
    min-height: 100%;
    margin: 0px;
    height: 100%;
   background-image: url(https://phonoteka.org/uploads/posts/2021-05/1621756087_31-phonoteka_org-p-fon-s-formulami-po-matematike-32.jpg);
   
}   
.wrapper{
    width: 1000px;
    margin: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.981);
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
header{
    width: 100%;
    background-color: blue;
    height: 50px;
    position: relative;
    left: 0px;
    top: 0px;
}
nav{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    position: relative;
    top: 140px;
    display: grid;
    grid-template-rows:  170px 150px;
    grid-template-columns: 170px 150px; 
    
}
.content{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.392);
    flex: 1 0 auto;
}
footer{
    background-color: black;
    width: 100%;
    height: 60px;
    display: block;
    margin-top: -60px;
    flex: 0 0 auto;
}
.flip{
    width: 150px;
    height: 150px;
    border-radius: 25px;
  }
  .flip__body {
      position: relative;
      width: 150px;
      height: 150px;
      transition: all 0.8s ease 0s;
      transform-style: preserve-3d;
      border: 3;
      border-radius: 25px;
  }
  .flip__front,
  .flip__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90%;
      text-align: center;
      border-radius: 25px;
  }
  .flip__front {
      z-index: 2;
      transform: rotateY(0deg);
      background-color: black;
      border-radius: 25px;
      backface-visibility: hidden;
  }
  .flip__back {
      transform: rotateY(-180deg);
      background-color: rgba(121, 79, 69, 0.5);
      border-radius: 25px;
  }
  
  .flip:hover .flip__body {
      transform: rotateY(-180deg);
      border-radius: 25px;
  }
  .a_tile{
    text-decoration: none;
    color: white;
    width: 150px;
    display: block;
    border-radius: 25px;
  }
  .a_logo{
    text-decoration: none;
    color: white;
    width: 50px;
    display: block;
    background-image: url(logo.png);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: auto;
  }
  .tile{
    position: relative;
    left: 85px;
    top: 100px;
    
  }
