body,html{
    background-color: gray;
    min-height: 100%;
    margin: 0px;
    height: 100%;
   background-image: url(https://phonoteka.org/uploads/posts/2021-05/1621756087_31-phonoteka_org-p-fon-s-formulami-po-matematike-32.jpg);
   
} 
.wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.981);
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
header{
    width: 100%;
    background-color: blue;
    height: 70px;
    position: relative;
    left: 0px;
    top: 0px;
}
.content{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.392);
    flex: 1 0 auto;
}
footer{
    background-color: black;
    width: 100%;
    height: 60px;
    display: block;
    margin-top: -60px;
    flex: 0 0 auto;
}
.a_logo{
    text-decoration: none;
    color: white;
    width: 50px;
    display: block;
    background-image: url(/Page_Index/logo.png);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: auto;
    border: 1;
    border-color: black;
  }
.logo{
    background-color: #fff;
}
.content_item{
    width: 620px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
    background-color: black;
    border-radius: 25px;
}
#form-group{
    margin-bottom: 30px;
    display: block;
}
#content__title{
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 100px;

}
.divbtn{
    margin-top: 6.5%;
    display: flex;

}
.label{
    float: left;
}
.intp{
    margin-left: 14px;
}
.form-control{
    display: block;
    float: left;
    width: 180px

}
#countButton{
    height: 30px;
    width: 310px;
    border-radius: 0px 0px 0px 25px;
    
}
#clearButton{
    height: 30px;
    width: 310px;
    border-radius: 0px 0px 25px 0px;
}
